<tr id="{{ENTRY_ID}}">
  <th class="platform" scope="row">{{PLATFORM}}</th>
  <td data-label="{{QUOTA_HEADER}}">{{QUOTA}}</td>
  <td class="row-action" data-label="{{REFERENCE_HEADER}}"><a class="yw-text-link yw-text-link--external" href="{{REFERENCE_URL}}" target="_blank" rel="noopener noreferrer">{{REFERENCE_LABEL}}</a></td>
  <td class="row-action" data-label="{{SIGNUP_HEADER}}"><a class="yw-button yw-button--secondary signup" href="{{SIGNUP_URL}}" target="_blank" rel="{{SIGNUP_REL}}">{{SIGNUP_LABEL}}</a></td>
</tr>
