<tr id="{{ENTRY_ID}}">
  <th class="platform" scope="row">{{PLATFORM}}</th>
  <td class="quota-details">
    <div class="quota-copy{{QUOTA_COLLAPSIBLE_CLASS}}" id="{{QUOTA_DETAILS_ID}}">{{QUOTA}}</div>
    {{QUOTA_TOGGLE}}
  </td>
  <td class="row-action" data-label="{{REFERENCE_HEADER}}"><a class="yw-text-link yw-text-link--external" href="{{REFERENCE_URL}}" target="_blank" rel="noopener noreferrer">{{REFERENCE_LABEL}}</a></td>
  <td class="row-action" data-label="{{SIGNUP_HEADER}}"><a class="yw-button yw-button--secondary signup" href="{{SIGNUP_URL}}" target="_blank" rel="{{SIGNUP_REL}}">{{SIGNUP_LABEL}}</a></td>
</tr>
